/node_modules
public/stylesheets/sass/.sass-cache/477283b01d882875d1d28127090abb2aa11f32d3/style.scssc
public/stylesheets/sass/.sass-cache/83c551eb04a1f3e53c64d843060c13f7540b7cd0/_buttons.scssc
public/stylesheets/sass/.sass-cache/83c551eb04a1f3e53c64d843060c13f7540b7cd0/_form.scssc
public/stylesheets/sass/.sass-cache/83c551eb04a1f3e53c64d843060c13f7540b7cd0/_headings.scssc
public/stylesheets/sass/.sass-cache/a6eafcf7bb5fe63c3544eb2fba546420ecb1a9d4/_basicpage.scssc
public/stylesheets/sass/.sass-cache/a6eafcf7bb5fe63c3544eb2fba546420ecb1a9d4/_discussionpage.scssc
public/stylesheets/sass/.sass-cache/a6eafcf7bb5fe63c3544eb2fba546420ecb1a9d4/_footer.scssc
public/stylesheets/sass/.sass-cache/a6eafcf7bb5fe63c3544eb2fba546420ecb1a9d4/_header.scssc
public/stylesheets/sass/.sass-cache/a6eafcf7bb5fe63c3544eb2fba546420ecb1a9d4/_index.scssc
public/stylesheets/sass/.sass-cache/a6eafcf7bb5fe63c3544eb2fba546420ecb1a9d4/_variables.scssc
.idea/encodings.xml
.idea/modules.xml
.idea/Q-A.iml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
