<h2 class="creat">Create a new discussion</h2>
<form action="" method="post">
    <input type="text" name="title" placeholder="Title" class="textfield title">
    <textarea name="message" placeholder="Message" class="textfield textarea"></textarea>
    <button type="submit" value="Publish discussion" class="btn btn-primary">Publish discussion</button>
</form>
