<h2 class="discussions">Discussions</h2>
<p>Hi! {{user.username}}</p>
<p>Je bevind je nu in <span class="locatie"></span></p>
{{#each data}}
    <div class="wrapper-discussions">
        <a href="discussions/{{this.id}}">
            <h3 class="title-discussions">{{this.title}}</h3>
            <div class="msg-discussion">{{this.message}}</div>
        </a>
    </div>
{{/each}}


<script>
$(document).ready(function () {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(getLocation);
  } else {
    alert("Je browser ondersteunt geen geolocatie.");
  }
  function getLocation(position) {
    return Location(position.coords.latitude, position.coords.longitude);
  }

  var Location = function (lat, lon) {
    this.latitude  = lat;
    this.longitude = lon;
    check();
  };

  function check() {
    var url = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + this.latitude + "," + this.longitude + "&sensor=true";
    $.ajax({
      type: "GET",
      url: url,
      dataType: "json", 
      success: function(response) {
        LocationName(response);
      },
      error: function() {
        console.log("Error");
      }});
    };

	LocationName = function(arg){
      var locationName = arg.results[0].address_components[2].short_name;
      $(".locatie").html(locationName);
	};
});
</script>