<h2 class="discussions">Hi {{user.username}}, Dit zijn de Topics dichtbij <span class="locatie"></span>.</h2>
{{#each data}}
    <div class="wrapper-discussions">
        <a href="discussions/{{this.id}}">
            <h3 class="title-discussions">{{this.title}}</h3>
            <div class="msg-discussion">{{this.message}}</div>
        </a>
    </div>
{{/each}}


