body {
	font-family: 'Roboto', sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fafafa;
}
@media (min-width: 768px) {
	.container-fluid {
	  max-width: 450px; 
	} 
}
.dis {
  margin: 0;
  padding: 0; }
.header,
.marketing,
.footer {
	padding-right: 20px;
	padding-left: 20px; 
}
header.header {
	background-color:#FF9800;
	margin-bottom: 0;
}
header.header h3 {
	margin: 0 auto;
	line-height: 3em;
	color: #fff; 
}
.nav-pills > li {
	padding:0 5px;
}
.nav-pills > li >a:link,
.nav-pills > li >a:hover,
.nav-pills > li >a:active,
.nav-pills > li >a:visited {
	background-color:#FF9800;
	border-bottom: 2px solid #fff;
}
.nav-pills > li > a {
    border-radius: 0;
}	
.header ul li a {
	color: #fff;
	font-size: 1em;
	padding-top:1.7em;
}
.footer {
  margin-top: 0;
  padding-top: 19px;
  color: #37474F;
  border-top: 1px solid #e5e5e5;
  letter-spacing: 1px; }

.mes-dis {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #37474F;
  padding-bottom: 15px; }

.wrap-each-discussion {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #e5e5e5; }

.wrap-each-discussion:last-child {
  border: none; }

.wrap-each-discussion:hover {
  background-color: #e5e5e5; }

.wrap-each-discussion,
.title-discussion,
.mes-dis {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.wrap-each-discussion:hover .title-discussion,
.wrap-each-discussion:hover .mes-dis {
  padding-left: 10px; }

.wrap-each-discussion a {
  text-decoration: none; }

.back a {
  display: inline-block;
  width: 100%;
  background-color: #E91E63;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px;
  border-radius: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.back a:hover {
  background-color: rgba(233, 30, 99, 0.8); }

.wrap-title-discussion {
  width: 100%;
  height: auto;
  margin-top: 25px; }

.message-discussion {
  font-size: 18px;
  letter-spacing: 1px;
  color: #37474F; }

.btn-primary {
	margin-bottom: 20px; 
}
.button {
  background-color: #E91E63;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  min-width: 200px;
  padding: 15px 40px;
  color: white;
  box-shadow: none;
  border: none;
  font-size: 0.8em;
  margin-top: 30px;
  -webkit-transition: background-color 0.2s linear, box-shadow 0.4s 0.2s linear; }

.button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 0.75);
  -webkit-transition: background-color 0.2s linear, box-shadow 0.4s 0.2s linear; }

.btn-ask-question {
  width: 220px;
  height: auto;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px;
  background-color: #E91E63;
  border-radius: 1px;
  margin-bottom: 25px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.btn-ask-question:hover {
  background-color: rgba(233, 30, 99, 0.8); }

.button-a {
  width: 70px;
  height: auto;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 3px;
  background-color: #E91E63;
  border-radius: 1px; }
form {
	margin-top:0;
}
label.first {
	margin-top:20px;
}	
.form-control {
	border-radius:0;
}
.btn.btn-primary {
	width:100%;
	border-radius:0;
	background-color:#FFB74D;
	border-color: #FFB74D;
}
.btn.btn-primary:link,
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:visited {
	width:100%;
	border-radius:0;
	background-color:#FF9800;
	border-color: #FF9800;
}
input {
  display: block;
  margin-bottom: 20px; 
}
.textfield {
  width: 100%;
  max-width: 500px;
  padding: 15px 30px;
  font-size: 0.9em;
  border: none;
  border: 1px solid gray;
  outline: none !important; }

.textarea {
  height: 240px;
  max-width: 100%;
  resize: none;
  padding: 30px; }

.textfield-d {
  width: 100%;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border: 1px solid #37474F;
  color: #37474F;
  outline: none !important; }

.textarea-d {
  height: 150px;
  max-width: 100%;
  resize: none;
  padding: 30px; }

.textfield-a {
  width: 50%;
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  border: 1px solid #37474F;
  color: #37474F;
  outline: none !important; }

.textarea-a {
  height: 25px;
  max-width: 50%;
  resize: none;
  padding: 5px; }

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 5px;
  color: #37474F;
  margin: 0; }

h2 {
	background-color:#FFB74D;
	color:#fff;
	font-size:1.2em;
	margin-top:0;
	margin-bottom:0;
	padding:20px;
}
.h1-dis {
  margin-bottom: 25px;
  border-left: 3px solid #E91E63;
  padding-left: 20px;
  padding-top: 5px;
}
footer p {
	text-align:center;
	font-size:.9em;
}
.title-discussion {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #37474F;
  padding-top: 15px; }

/*# sourceMappingURL=style.css.map */
