body {
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px; } }
.container-narrow > hr {
  margin: 30px 0; }

.line-gray {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin-top: 25px;
  margin-bottom: 25px; }

.dis {
  margin: 0;
  padding: 0; }

.page-header {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  border-left: 3px solid #E91E63;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px; }

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px; }

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
  letter-spacing: 1px; }

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  color: #E91E63; }

.header ul li a {
  color: #37474F;
  font-size: 16px; }

.footer {
  margin-top: 0;
  padding-top: 19px;
  color: #37474F;
  border-top: 1px solid #e5e5e5;
  letter-spacing: 1px; }

.mes-dis {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #37474F;
  padding-bottom: 15px; }

.wrap-each-discussion {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #e5e5e5; }

.wrap-each-discussion:last-child {
  border: none; }

.wrap-each-discussion:hover {
  background-color: #e5e5e5; }

.wrap-each-discussion,
.title-discussion,
.mes-dis {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.wrap-each-discussion:hover .title-discussion,
.wrap-each-discussion:hover .mes-dis {
  padding-left: 10px; }

.wrap-each-discussion a {
  text-decoration: none; }

.back a {
  display: inline-block;
  width: 100%;
  background-color: #E91E63;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px;
  border-radius: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.back a:hover {
  background-color: rgba(233, 30, 99, 0.8); }

.wrap-title-discussion {
  width: 100%;
  height: auto;
  margin-top: 25px; }

.message-discussion {
  font-size: 18px;
  letter-spacing: 1px;
  color: #37474F; }

.btn-default {
  margin-bottom: 20px; }

.button {
  background-color: #E91E63;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  min-width: 200px;
  padding: 15px 40px;
  color: white;
  box-shadow: none;
  border: none;
  font-size: 0.8em;
  margin-top: 30px;
  -webkit-transition: background-color 0.2s linear, box-shadow 0.4s 0.2s linear; }

.button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 0.75);
  -webkit-transition: background-color 0.2s linear, box-shadow 0.4s 0.2s linear; }

.btn-ask-question {
  width: 220px;
  height: auto;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px;
  background-color: #E91E63;
  border-radius: 1px;
  margin-bottom: 25px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.btn-ask-question:hover {
  background-color: rgba(233, 30, 99, 0.8); }

.button-a {
  width: 70px;
  height: auto;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 3px;
  background-color: #E91E63;
  border-radius: 1px; }

input {
  display: block;
  margin-bottom: 20px; }

.textfield {
  width: 100%;
  max-width: 500px;
  padding: 15px 30px;
  font-size: 0.9em;
  border: none;
  border: 1px solid gray;
  outline: none !important; }

.textarea {
  height: 240px;
  max-width: 100%;
  resize: none;
  padding: 30px; }

.textfield-d {
  width: 100%;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border: 1px solid #37474F;
  color: #37474F;
  outline: none !important; }

.textarea-d {
  height: 150px;
  max-width: 100%;
  resize: none;
  padding: 30px; }

.textfield-a {
  width: 50%;
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  border: 1px solid #37474F;
  color: #37474F;
  outline: none !important; }

.textarea-a {
  height: 25px;
  max-width: 50%;
  resize: none;
  padding: 5px; }

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 5px;
  color: #37474F;
  margin: 0; }

h2 {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 3px solid #E91E63;
  color: #37474F; }

.h1-dis {
  margin-bottom: 25px;
  border-left: 3px solid #E91E63;
  padding-left: 20px;
  padding-top: 5px; }

.title-discussion {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #37474F;
  padding-top: 15px; }

/*# sourceMappingURL=style.css.map */
