a.btn-primary-back {
	text-align: center;
	display: inline-block;
	width: 100%;
	background-color: $material-orange-300;
	font-size: 1.2em;
	color: #fff;
	text-decoration: none;
	padding: 20px;
}
a.btn-primary-back:hover {
	background-color: $material-orange-500;
}
.btn-primary {
	margin-bottom: 20px; 
}
.btn.btn-primary {
	width:100%;
	border-radius:0;
	background-color:$material-orange-300;
	border-color: $material-orange-300;
	margin-top:10px;
}
.btn.btn-primary:link,
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:visited {
	width:100%;
	border-radius:0;
	background-color:$material-orange-500;
	border-color:$material-orange-500;
}