a.btn-primary-back {
	text-align: center;
	display: inline-block;
	width: 100%;
	background-color: $light-blue;
	font-size: 1.2em;
	color: #fff;
	text-decoration: none;
	padding: 20px;
    color:$deep-blue;
}
a.btn-primary-back:hover {
	background-color: $deep-blue;
    color: $light-blue;
}
.btn-primary {
	margin-bottom: 20px; 
}
.btn {
	width:100%;
	border-radius:0;
	background-color:$light-blue;
	border-color: $light-blue;
	margin-top:10px;
    color:$deep-blue;
}
.btn:link,
.btn:hover,
.btn:active,
.btn:visited {
	width:100%;
	border-radius:0;
	background-color:$deep-blue;
	border-color:$deep-blue;
}

.btn-answer{
    width: 20%;
    height: 30px;
    background-color: $mustard;
    color: $darkgrey;
    &:hover{
        width: 20%;
    }
}