input {
	display: block;
	margin-bottom: 20px; 
}
.textfield {
	width: 100%;
	max-width: 500px;
	padding: 15px 30px;
	font-size: 1em;
	border: 0;
}
.textarea {
	height: 250px;
  	max-width: 100%;
  	resize: none;
  	padding: 30px; 
}
.textfield-d {
  	width: 100%;
  	padding: 15px 30px;
  	font-size: 16px;
    border: 0;
 	color: $darkgrey;
}
.textarea-d {
	height: 150px;
	max-width: 100%;
	resize: none;
	padding: 30px; 
}
.textfield-a {
  width: 50%;
  padding: 5px 10px;
  font-size: 1em;
  border: 0;
  color: $darkgrey;
}
.textarea-a {
	height: 25px;
	max-width: 50%;
	resize: none;
	padding: 5px;
}