h1 a{
        color: $white;
    &:hover{
        color: $white;
        text-decoration: none;
    }
}
h2 {
	background-color: $light-blue;
	color: $darkgrey;
	font-size:1.2em;
	margin-top:0;
	margin-bottom:0;
	padding:20px;
}
h3.question{
    color: $darkgrey;
    background-color: $light-blue;
    padding: 10px;
}


a h3.title-discussions{
    color: $deep-blue;
}


h2.title-discussion {
    baclground-color: none;
	font-size: 1.5em;
	font-weight: 700;
	color:$deep-blue;
	padding-top: 20px; 

}
p.user-discussion{
    color: $lightgrey;
}