body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1.error-message{
    color: red;
}
body{
    padding: 20px;
}
.site-title {
    font-size: 1.2rem;
}
.page-title {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  border-left: 2px solid Turquoise;
  padding-left: 17px;
  padding-top: 9px;
  padding-bottom: 9px; }