.msg-discussion,
.title-discussion {
	padding-left:20px;
}
.msg-discussion {
    font-size: 1em;
    padding-bottom: 20px;
	color:$darkgrey;
    width: 100%
}
.wrap-discussion-topic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul#answerlist{
    list-style: none;
    margin-left: -10px;
}