.header,
.footer {
	padding-right: 20px;
	padding-left: 20px; 
}
header.header {
	background-color:$deep-blue;
	margin-bottom: 0;
}
.nav-pills > li {
	padding:0 5px;
}
.nav-pills > li >a:link,
.nav-pills > li >a:hover,
.nav-pills > li >a:active,
.nav-pills > li >a:visited {
	background-color: $light-blue;
	border-bottom: 2px solid $white;
}
.nav-pills > li > a {
    border-radius: 0;
}	
header.header ul li a {
	color: $deep-blue;
	font-size: 1em;
	padding-top:1.7em;
}