$lightgray: #ECEFF1;
$material-blue: #03A9F4;
$material-blue-darker: #0288D1;
$white: #fff;
$teal: #009688;
$dark-blue-gray: #37474F;
$material-pink: #E91E63;
$font-stack: font-family: 'Roboto', sans-serif;
$material-orange-400: #FFB74D;
